<%= form_for(@seller_user_comment) do |f| %>
  <% if @seller_user_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seller_user_comment.errors.count, "error") %> prohibited this seller_user_comment from being saved:</h2>

      <ul>
      <% @seller_user_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
